.ant-table-thead .ant-table-cell {
  background-color: #363636;
  color: #fff;
  font-weight: bold;
}

.danger-status {
  background-color: #c72028;
}

.warning-status {
  background-color: #ffd400;
}